@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    color: #42464e;
}

html {
    scroll-behavior: smooth;
}


/* CUSTOM CLASS */

:root {
    --color-primary: #23A17B;
    --color-title: #515050;
    --bg-secondary: #f8f9fa;
    --bg-gradient-primary: linear-gradient(to right, #2ad38b, #0cceb0);
}

a:hover {
    text-decoration: none;
    color: var(--color-primary);
}

button:focus {
    outline: none;
    box-shadow: none!important;
}

.color-primary {
    color: var(--color-primary);
}

.color-secondary {
    color: var(--color-title);
}

.color-title {
    color: var(--color-title);
}

.bg-home {
    background-color: var(--bg-secondary);
}

.font-60 {
    font-size: 60px;
}

.font-50 {
    font-size: 50px;
}

.font-40 {
    font-size: 40px;
}

.font-35 {
    font-size: 35px;
}

.font-30 {
    font-size: 30px;
}

.font-20 {
    font-size: 20px;
}

.font-18 {
    font-size: 18px;
}

.font-16 {
    font-size: 16px;
}

.font-14 {
    font-size: 14px;
}

.font-black {
    font-weight: 900;
}

.font-bold {
    font-weight: 700;
}

.font-medium {
    font-weight: 500;
}

.font-regular {
    font-weight: 400;
}

.font-light {
    font-weight: 300;
}

.object-cover {
    object-fit: cover;
}

.line-height-0 {
    line-height: 0!important;
}

body>#container {
    overflow: hidden;
}


/*  HEADER  */

.header {
    position: relative;
    z-index: 999;
}

.header .main-header .main-logo img {
    height: 40px;
    object-fit: contain;
}

.header .main-header {
    height: 85px;
    z-index: 2;
}

.header .main-header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header .main-header ul.main-menu li:first-child {
    margin-left: 0;
}

.header .main-header ul li {
    margin-left: 20px;
    position: relative;
}

.header .main-header ul li a {
    line-height: 85px;
    display: block;
    font-size: 15px;
    font-weight: bold;
    color: #444445;
    text-decoration: none;
}

.header .main-header ul li a.btn-registration {
    height: 42px;
    padding: 2px;
    font-size: 16px;
    color: #26b896;
    font-weight: bold;
}

.header .main-header ul li a.btn-registration span {
    display: block;
    height: 38px;
    line-height: 38px;
    background: #fff;
    padding: 0 20px;
    border-radius: 20px;
    transition: all .5s ease;
    color: #26b896;
    font-size: 15px;
}

.header .main-header ul li a.btn-registration:hover span {
    background: transparent;
    color: #fff;
}

.header .main-header ul li.gift .quanlity {
    position: absolute;
    top: 20px;
    right: -16px;
    width: 25px;
    height: 20px;
    line-height: 20px;
    border-radius: 45%;
    background-color: red;
    color: #fff;
    text-align: center;
    font-size: 12px;
}

.menu-mobile .gift-mobile .quanlity {
    position: absolute;
    top: 5px;
    right: -16px;
    width: 25px;
    height: 20px;
    line-height: 20px;
    border-radius: 45%;
    background-color: red;
    color: #fff;
    text-align: center;
    font-size: 12px;
}

.header .main-header ul li:hover>a {
    color: #0089ff;
}

.header .main-header ul li:hover>ul {
    display: block;
}

.header .main-header ul li:hover>ul.product {
    opacity: 1;
    visibility: visible;
}

.header .main-header ul li.login a {
    font-weight: 700;
}

.header .main-header ul li .childMenu {
    display: none;
    box-shadow: 0 0 12.22px .78px rgba(0, 0, 0, .11);
    background: #fff;
    position: absolute;
    left: -50px;
    top: 80%;
    z-index: 9;
    border-top: 1px solid var(--color-primary);
    min-width: 185px;
    top: 100%;
}

.header .main-header ul li .childMenu:after {
    bottom: 100%;
    left: 68px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: var(--color-primary);
    border-width: 9px;
}

.header .main-header ul li .childMenu li {
    margin: 0;
}

.header .main-header ul li .childMenu li a {
    line-height: 1.4;
    padding: 10px 15px;
    font-weight: 400;
}

.header .main-header ul li .childMenu li:hover>a {
    background: #f1f1f1;
    color: #0089ff;
}

.header .main-header ul li .childMenu.product {
    width: 678px;
    left: -222px;
    height: 395px;
    flex-direction: inherit;
    flex-wrap: wrap;
    padding: 16px 25px 26px;
    transition-duration: 0s;
    transition-delay: .1s;
    opacity: 0;
    display: flex;
    visibility: hidden;
}

.header .main-header ul li .childMenu.product:after {
    left: 250px;
}

.header .main-header ul li .childMenu.product li {
    width: 312px;
}

.header .main-header ul li .childMenu.product li a {
    border-radius: 3px;
    padding: 12px 14px 9px 16px;
    background: none;
}

.header .main-header ul li .childMenu.product li strong {
    display: block;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #383839;
    margin: 0 0 6px;
}

.header .main-header ul li .childMenu.product li p {
    font-size: 14px;
    line-height: 20px;
    color: #8f8f8f;
    height: 40px;
    overflow: hidden;
    margin: 0;
}

.header .main-header ul li .childMenu.product li:hover {
    background: #e5f3ff;
}

.header .main-header .btn-menu {
    display: inline-block;
    line-height: 54px;
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;
}

.header .main-header .btn-menu img {
    cursor: pointer;
}


/* MENU MOBILE */

.menu-mobile {
    width: 450px;
    max-width: 90%;
    background: #fff;
    position: fixed;
    height: 100%;
    top: 0;
    right: -450px;
    z-index: 2147483641;
    transition: all .5s ease-in-out;
    overflow: auto;
}

.menu-mobile.show {
    right: 0;
}

.menu-mobile .logo-mobile {
    border-bottom: 1px solid #f1f1f1;
    position: relative;
    padding: 0 15px;
    height: 70px;
    display: flex;
    align-items: center;
}

.menu-mobile .logo-mobile img {
    height: 40px;
}

.menu-mobile .logo-mobile .btn-close-menu {
    position: absolute;
    font-size: 21px;
    color: #42464e;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    cursor: pointer;
}

.menu-mobile .logo-mobile .btn-close-menu svg {
    cursor: pointer;
    width: 20px;
    margin-right: 5px;
}

.menu-mobile .box-scroll {
    overflow: auto;
    height: calc(100% - 86px);
}

.menu-mobile .nav {
    padding: 0 15px;
    padding-top: 20px;
}

.menu-mobile .nav:not(.nav-bottom) {
    border-bottom: 1px solid #f1f1f1;
}

.menu-mobile .nav>li {
    margin-bottom: 18px;
    width: 100%;
    position: relative;
}

.menu-mobile .nav>li>a {
    font-size: 18px;
    color: #42464e;
    font-weight: bold;
    display: block;
}

.menu-mobile .nav>li>a[aria-expanded="true"] i {
    transform: rotate(-180deg);
    transition: all .2s ease-in-out;
}

.menu-mobile .nav>li>a[data-toggle=collapse]:before {
    content: "";
    border: 6px solid transparent;
    border-top-color: #d0d0d0;
    position: absolute;
    right: 5px;
    top: 11px;
    transition: all .2s ease-in-out;
}

.menu-mobile .nav>li>a.rorate-icon-active:before {
    transform: rotate(180deg);
    top: 5px;
    transition: all .2s ease-in-out;
}

.menu-mobile .nav>li .sub-menu {
    padding-left: 15px;
    border-left: 1px solid #dfdfdf;
    list-style: none;
    margin-top: 10px;
}

.menu-mobile .nav>li .sub-menu li {
    position: relative;
}

.menu-mobile .nav>li .sub-menu li a {
    font-size: 16px;
    color: #42464e;
    line-height: 22px;
    display: block;
    padding: 0;
    margin: 0 0 17px;
}

.menu-mobile .nav>li .sub-menu li a i {
    color: #d0d0d0;
    position: absolute;
    right: 0;
    top: 2px;
    transition: all .2s ease-in-out;
}

.menu-mobile .nav>li .sub-menu li a[aria-expanded="true"] i {
    transform: rotate(-180deg);
    transition: all .2s ease-in-out;
}

.menu-mobile .nav>li .sub-menu li a[data-toggle=collapse]:before {
    content: "";
    border: 6px solid transparent;
    border-top-color: #d0d0d0;
    position: absolute;
    right: 0;
    top: 11px;
    transition: all .2s ease-in-out;
}

.menu-mobile .nav>li .sub-menu li a[aria-expanded=true]:before {
    transform: rotate(180deg);
    top: 4px;
    transition: all .2s ease-in-out;
}

.menu-mobile .nav>li .sub-menu li a span {
    display: block;
    font-weight: 400;
    font-size: 15px;
    color: #8f8f8f;
}

.menu-mobile .nav>li .sub-menu li:last-child a {
    margin: 0;
}

.menu-mobile .nav>li .show-sub .sub-menu {
    margin-top: 0;
}

.menu-mobile .nav>li.login a {
    font-weight: 700;
}

.menu-mobile .nav>li.home a {
    font-weight: 400;
    position: relative;
    padding-right: 7px;
    line-height: 22px;
    display: inline-block;
}

.menu-mobile .nav>li.home a:after {
    content: "";
    border-top: 2.5px solid #42464e;
    border-right: 2.5px solid #42464e;
    border-bottom: 2.5px solid transparent;
    border-left: 2.5px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
}

.menu-mobile .nav>li.trial {
    margin-bottom: 25px;
}

.menu-mobile .nav>li.trial a {
    margin-top: 0 !important;
    display: inline-block;
    height: 42px;
    padding: 2px;
    font-size: 16px;
    color: #26b896;
    font-weight: bold;
}

.menu-mobile .nav>li.trial a span {
    display: block;
    height: 38px;
    line-height: 38px;
    background: #fff;
    padding: 0 34px;
    border-radius: 20px;
    transition: all .5s ease;
    color: #26b896;
}

.menu-mobile .nav>li.trial a:hover span {
    background: transparent;
    color: #fff;
}

.overlay-menu {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 2147483640;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .23);
    display: none;
    cursor: pointer;
}

@media(max-width:1199px) {
    .header.active-child .main-header {
        margin-bottom: 0;
        height: 85px;
    }
    .header.active-child .main-header .main-logo img {
        height: 54px;
    }
    .header.active-child .main-header .btn-menu {
        line-height: 54px;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* END HEADER */


/* HOME */

.home-wrapper .home__title {
    color: #434343;
}

.home-wrapper .home__title h1 {
    font-size: 34px;
    font-weight: 400;
}

.home-wrapper .home__title p {
    font-size: 18px;
    font-weight: 300;
}


/*  BANNER */

.home-wrapper .banner {
    background-image: url(../images/bg-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 300px;
}

.home-wrapper .banner .line {
    width: 150px;
    margin: 20px auto;
    height: 4px;
    background: var(--bg-gradient-primary);
}

.home-wrapper .banner p {
    font-size: 21px;
    color: #3a3a3a;
    font-weight: 300;
    margin-bottom: 40px;
    line-height: 1.2;
}

.home-wrapper .banner p span {
    color: #65625f;
}

.home-wrapper .banner .btn-registration {
    font-size: 28px;
    line-height: 65px;
    font-weight: bold;
    height: 65px;
    padding: 0 50px;
    position: relative;
    z-index: 2;
    background-image: -moz-linear-gradient(33deg, #2ad38b 0%, #0cceb0 100%);
    background-image: -webkit-linear-gradient(33deg, #2ad38b 0%, #0cceb0 100%);
    background-image: -ms-linear-gradient(33deg, #2ad38b 0%, #0cceb0 100%);
    box-shadow: 0 2px 29.12px 2.88px rgba(0, 0, 0, .14);
}

.home-wrapper .banner .btn-registration span {
    display: block;
    font-size: 13px;
    color: #fff;
    font-weight: 400;
}


/* END BANNER */


/* SOLUTION HOME */

.home-wrapper .solution .item {
    border-radius: 5px;
    box-shadow: 0 5px 62px 0 rgba(2, 55, 102, .09);
    position: relative;
    background-color: #fff;
    height: 100%;
}

.home-wrapper .solution .item .title img {
    object-fit: cover;
}

.home-wrapper .solution .item .title h3 {
    color: #606672;
    text-transform: uppercase;
    font-weight: 700;
}

.home-wrapper .solution .item .title p {
    line-height: 24px;
    color: #606672;
    margin: 0;
}

.home-wrapper .solution .item .content {
    padding-bottom: 50px;
}

.home-wrapper .solution .item .content p {
    font-size: 15px;
    line-height: 24px;
    color: #a5a5a5;
    font-weight: 400;
    margin: 0 0 35px;
}

.home-wrapper .solution .item .content .content__view {
    position: absolute;
    left: 0;
    bottom: 35px;
    width: 100%;
}

.home-wrapper .solution .item .btn-registration {
    font-size: 16px;
    border: none;
    height: 38px;
    line-height: 38px;
    padding: 0 35px;
    transition: none;
    color: #fff;
    box-shadow: initial;
    text-align: center;
}

.home-wrapper .solution .item .btn-registration:hover {
    border: none;
    color: #fff;
    box-shadow: none;
}

.home-wrapper .solution .item_1 .btn-registration {
    background: linear-gradient(90deg, #00b0e5, #0078fb);
}

.home-wrapper .solution .item_2 .btn-registration {
    background: linear-gradient(90deg, #37e586, #0fd186);
}

.home-wrapper .solution .item_3 .btn-registration {
    background: linear-gradient(90deg, #20c497, #37b2ae);
}

.home-wrapper .solution .item_4 .btn-registration {
    background: linear-gradient(90deg, #79d1fe, #0cc2ed);
}

.home-wrapper .solution .item_5 .btn-registration {
    background: linear-gradient(90deg, #a15ef3, #5f77ec);
}

.home-wrapper .solution .item_6 .btn-registration {
    background: linear-gradient(90deg, #ffb33a, #ff7b02);
}


/* END SOLUTION */


/* FLATFORM */

.home-wrapper .flatform {
    background-image: url(../images/index/bg-1.png);
    background-size: contain;
    background-position: 500px 0px;
    padding-bottom: 100px;
}

.tab {
    border-bottom: 3px solid #CBF3EB;
}

.tabcontent .btn_tabcontent {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
    font-weight: 700;
}

.tabcontent .btn_tabcontent a {
    font-size: 20px;
}

.tab button {
    background-color: transparent;
    border: none;
    outline: none;
    opacity: 0.5;
    cursor: pointer;
    text-align: left;
}

.tablinks img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.tablinks {
    border-bottom: 3px solid transparent;
    position: relative;
    bottom: -3px;
}

.tablinks.active {
    /* padding-bottom: 5px; */
    border-bottom: 3px solid #48CDB1;
}

.tab button.active {
    opacity: 1;
}

.tab button.active p {
    font-weight: 500;
}

.tab button p {
    color: #42464e;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

.tabcontent {
    display: none;
}

.tabcontent .order-lg-2 ul img {
    margin-right: 15px;
    height: 30px;
    width: 30px;
}


/* END FLAT FORM */


/* CUSTOMER */

.home-wrapper .customers h2 {
    font-size: 40px;
    font-weight: 300;
    color: #42464e;
    line-height: 1.2;
    margin: 0 0 7px;
}

.home-wrapper .customers h2 strong {
    font-weight: 500;
}

.home-wrapper .customers .customer__slick .item img {
    width: 100%;
    height: 100px;
    object-fit: contain;
    margin-bottom: 20px;
}

.home-wrapper .customers .customer-item {
    margin-bottom: 50px;
    flex: 0 0 50%;
    max-width: 20%;
}

.home-wrapper .customers .customer-item img {
    width: 100%;
    height: 80px;
    object-fit: contain;
}

.home-wrapper .customers .customer-item img:hover {
    opacity: 1;
}


/* END CUSTOMER */


/* NEWS ABOUT */

.home-wrapper .news-aboutus h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 35px;
}

.home-wrapper .news-aboutus .news-item {
    position: relative;
    background: #fff;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 15px 60px 0 rgba(10, 35, 63, .07);
}

.home-wrapper .news-aboutus .news-item>a {
    text-align: center;
    display: block;
    width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    height: 205px;
    border-radius: 5px 5px 0 0;
}

.home-wrapper .news-aboutus .news-item .time {
    font-size: 14px;
    color: #b7b7b7;
}

.home-wrapper .news-aboutus .news-item .time i {
    margin-right: 5px;
}

.home-wrapper .news-aboutus .news-item .title {
    height: 52px;
    overflow: hidden;
    max-height: 52px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
}

.home-wrapper .news-aboutus .news-item .title a {
    font-size: 18px;
    font-weight: 500;
    color: #42464e;
    line-height: 26px;
    display: block;
}

.home-wrapper .news-aboutus .news-item .title a:hover {
    color: #08f;
    text-decoration: none;
}

.home-wrapper .news-aboutus .news-item .continue a {
    font-size: 14px;
    color: #08f;
}

.home-wrapper .news-aboutus .news-item .continue a:hover {
    color: #08f;
    text-decoration: none;
}


/* END NEW ABOUT */


/* NEWS BLOG */

.home-wrapper .news-aboutus-blog {
    color: #fff;
    background: url(../images/index/resource.png) no-repeat center top;
    background-size: cover;
}


/* END NEWS BLOG */


/* START SUPPORT SAPO */

.home-wrapper .support-sapo {
    padding: 55px 0 0;
    position: relative;
}

.home-wrapper .support-sapo .slide-reason {
    margin: 5px -35px 0;
}

.home-wrapper .support-sapo .swiper-container {
    padding: 0 30px 65px;
}

.home-wrapper .support-sapo .swiper-pagination-bullets {
    display: none;
}

.home-wrapper .support-sapo .item {
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 20px 50px 0 rgba(9, 76, 169, .08);
    margin-right: 98px;
    position: relative;
    z-index: 1;
    min-height: 330px;
    overflow: hidden;
    background: #fff;
}

.home-wrapper .support-sapo .item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 486px;
    height: 233px;
    z-index: 3;
    top: -140px;
    left: -75px;
}

.home-wrapper .support-sapo .item:last-child {
    margin-right: 0;
}

.home-wrapper .support-sapo .item>div {
    padding: 40px 25px 40px;
    position: relative;
    z-index: 4;
}

.home-wrapper .support-sapo .item .num {
    margin-bottom: 35px;
    text-align: center;
}

.home-wrapper .support-sapo .item .title {
    font-size: 18px;
    font-weight: bold;
    color: #42464e;
    line-height: 24px;
    position: relative;
    margin-bottom: 15px;
    padding: 0 !important;
    text-align: center;
}

.home-wrapper .support-sapo .item p {
    font-size: 16px;
    font-weight: 400;
    color: #42464e;
    margin-bottom: 0;
    text-align: justify;
    text-align-last: center;
}

.home-wrapper .support-sapo .item.one {
    border-top-left-radius: 0;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 0;
}

.home-wrapper .support-sapo .item.one:before {
    background-color: #f1f7ff;
}

.home-wrapper .support-sapo .item.one .title {
    padding: 0 30px;
}

.home-wrapper .support-sapo .item.one p {
    padding: 0 30px;
}

.home-wrapper .support-sapo .item.two {
    border-top-left-radius: 40px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 40px;
}

.home-wrapper .support-sapo .item.two:before {
    background-color: #fff4ef;
}

.home-wrapper .support-sapo .item.two .title {
    padding: 0 40px;
}

.home-wrapper .support-sapo .item.two p {
    padding: 0 19px;
}

.home-wrapper .support-sapo .item.three {
    border-top-left-radius: 0;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 0;
}

.home-wrapper .support-sapo .item.three:before {
    background-color: #ebfff6;
}

.home-wrapper .support-sapo .item.three .title {
    padding: 0 50px;
}

.home-wrapper .support-sapo .item.three p {
    padding: 0 20px;
}


/* home support mobile */

.support-mobile .item {
    border-bottom: 1px solid #e7f0f6;
}

.support-mobile .item.active {
    border: none;
}

.support-mobile .item .top {
    cursor: pointer;
}

.support-mobile .item .content {
    display: none;
}

.support-mobile .item.active .content {
    display: block;
}

.support-mobile .item.active .top i {
    transform: rotate(180deg);
    transition: all .3s ease-in;
}


/* ------- */


/* END SUPPORT SAPO */

.quick-registration {
    background: none;
    padding: 0;
    z-index: 3;
    position: relative;
    text-align: center;
    color: #fff;
    margin-top: 150px!important;
}

.quick-registration::before {
    content: "";
    position: absolute;
    bottom: 110px;
    left: 0;
    width: 100%;
    background: linear-gradient( to top, #e5faf2, rgba(247, 253, 251, .3));
    padding-top: 250px;
    z-index: -9999;
}

.home-wrapper .quick-registration h2 {
    font-size: 36px;
    font-weight: 900;
}

.quick-registration .bg-register {
    margin: 0 auto;
    background: linear-gradient(to right, #0fd186, #34d899);
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.quick-registration .bg-register h2 {
    margin: 0 0 0;
    font-size: 36px;
    font-weight: bold;
}

.quick-registration .bg-register label {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px;
}

.home-wrapper .quick-registration .bg-register .reg-form input {
    height: 60px;
    line-height: 60px;
    border-radius: 30px;
    width: 532px;
    color: #57575f;
}

.quick-registration .bg-register .reg-form .btn-registration {
    border: 1px solid #fff;
    background: transparent;
    box-shadow: 0 0 40px 0 rgba(18, 160, 105, .22);
    height: 55px;
    line-height: 55px !important;
    font-size: 20px;
    font-weight: bold;
    padding: 0 40px;
}


/* END QUICK REGISTER */


/* FOOTER */

.footer {
    margin-top: -120px;
    background-color: #101215;
    color: #7d8492;
}

.footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer ul li {
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 14px;
}

.footer-menu {
    padding-top: 36px;
    padding-bottom: 35px;
    margin-bottom: 30px;
}

.footer .title {
    text-align: left;
    color: #d1d3d6;
    font-size: 15px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 21px;
}

.footer .title a {
    color: inherit;
    padding: 0;
    font-size: 15px;
}

.footer a {
    color: #7d8492;
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
}

.footer-address {
    padding-bottom: 25px;
}

.footer-address .shared-experience {
    padding-top: 35px;
}

.footer-address .social {
    font-size: 0;
    margin-top: -37px;
    margin-left: 100px;
}

.footer-address .social li {
    display: inline-block;
    margin-right: 7px;
    margin-left: 10px;
    padding: 0;
}

.footer-address .social li a {
    font-size: 26px;
    color: #d1d3d6;
    font-weight: 500;
    line-height: 21px;
    padding: 0;
    display: block;
}

.footer-address .contact-info p {
    font-size: 14px;
    color: #7d8492;
    padding: 5px 0;
    margin: 0;
    line-height: 24px;
}

.footer-address .contact-info p i {
    padding: 0 5px;
}

.footer-address .contact-info a {
    padding: 0;
}

.footer-bct {
    position: absolute;
    right: 50px;
    bottom: -7px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.footer-bct-hanggia {
    position: absolute;
    right: 200px;
    bottom: -10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.footer-bct-hanggia img {
    height: 44px;
}

.footer-copyright {
    background-color: #101215;
    color: #7d8492;
    padding: 5px 0;
    border-top: 1px solid #24282e;
    font-size: 13px;
    position: relative;
}

.footer-copyright p {
    margin: 0;
}

.footer-copyright .achievement {
    display: inline-block;
    font-size: 13px;
    margin: 13px 0;
    width: 100%;
}

.footer-copyright .achievement span {
    display: inline-block;
}

.footer-copyright .achievement span.icon-achievement {
    margin-top: 6px;
}

.footer-copyright .achievement span img {
    height: 28px;
}

.footer .copyright-mobile {
    border-top: 1px solid #24282e;
    text-align: center;
    color: #545a68;
    padding: 15px 0;
}


/* body {
    font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    color: #42464e;
} */

.btn-registration {
    color: #fff;
    background: linear-gradient( to right, #1cc294, #57d7a0);
    border-radius: 45px;
    display: inline-block;
    line-height: 55px;
    padding: 0 60px;
    outline: none;
    -webkit-user-select: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    white-space: nowrap;
    font-size: 20px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    font-weight: 700;
}

.btn-registration:before {
    content: "";
    border-radius: 45px;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .04);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.btn-registration:hover,
.btn-registration:focus,
.btn-registration:active {
    color: #fff;
    text-decoration: none;
}

.btn-registration:hover:before,
.btn-registration:focus:before,
.btn-registration:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.btn-registration:hover {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

.required,
.field-validation-error {
    color: #f00;
    font-weight: bold;
}

.register-bottom h2 {
    font-size: 42px;
    font-weight: 300;
    line-height: 56px;
    margin: 0 0 10px;
}

.register-bottom p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
}

.register-bottom .reg-form input {
    width: 500px;
    height: 65px;
    line-height: 65px;
    font-size: 16px;
    color: #575757;
    padding: 0 20px;
    margin-right: 15px;
    border-radius: 38px;
    border: none;
    outline: none;
    vertical-align: top;
}

.register-bottom .reg-form .btn-registration {
    height: 65px;
    line-height: 65px;
    padding: 0 45px;
    font-size: 24px;
    vertical-align: top;
}

@media(max-width:991px) and (min-width:768px) {
    .register-bottom {
        background-size: cover !important;
    }
    .register-bottom h2 {
        font-size: 32px;
        line-height: 42px;
    }
    .register-bottom .reg-form input {
        width: 400px;
    }
    .register-bottom .reg-form .btn-registration {
        padding: 0 35px;
    }
}

@media(max-width:767px) {
    .register-bottom {
        background-size: cover !important;
    }
    .register-bottom h2 {
        font-size: 25px;
        line-height: 32px;
    }
    .register-bottom p {
        font-size: 18px;
    }
    .register-bottom .reg-form .btn-registration {
        line-height: 58px;
        height: 58px;
        font-size: 20px;
    }
}

.footer .footer-menu {
    padding-top: 190px;
}

.update-menu .childMenu li img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.right img {
    height: 100%;
    width: 100%;
}

.tabcontent ul {
    font-size: 14px
}

.tabcontent .time {
    font-weight: 500;
}


/* END HOME PAGE  */


/* ================================================================= */


/* START ABOUT PAGE */


/* BANNER */

.about-us .banner {
    background-image: url(../images/aboutus/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.about-us .banner .content p {
    font-size: 18px;
    color: #42464e;
}

.about-us .banner h1 {
    color: #42464e;
    font-size: 40px;
    position: relative;
}

.about-us .banner .line {
    width: 70px;
    height: 2px;
    background-color: var(--color-primary);
}

.about-us .banner .btn-registration {
    padding: 0 80px;
    font-size: 20px;
}

.about__title p {
    font-size: 20px;
    font-weight: 400;
}

.about__title h1 {
    font-size: 34px;
    font-weight: 700;
    color: #1B937D;
}


/* --------------------- */


/* REASON */

.about-us .reason .bg__reason {
    background-color: #EFFDF8;
}

.about-us .partner {
    text-align: center;
    padding-bottom: 280px;
    margin-bottom: -200px;
    background: url(../images/bg-support-sapo.png) no-repeat bottom center;
    background-position-y: 350px;
}

.about-us .partner h2 {
    font-weight: bold;
    line-height: 1.3;
    color: #1B937D;
    font-size: 40px;
    margin-bottom: 40px;
}

.about-us .partner p {
    font-size: 21px;
    font-weight: 300;
    color: #42464e;
    line-height: 1.4;
    margin-bottom: 50px;
}

.about-us .partner .row img {
    margin-bottom: 35px;
    height: 85px;
    object-fit: scale-down;
}

.about-us .partner .row .zalo-ads img {
    width: 200px;
}

.about-us .partner .row h4 {
    font-weight: bold;
    color: #606060;
    font-size: 18px;
    line-height: 1.4;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.about-us .partner .row h4:before {
    content: "";
    height: 1px;
    width: 50px;
    position: absolute;
    left: 50%;
    bottom: 0;
    background: #c8d7e2;
    transform: translateX(-50%);
}

.about-us .partner .row p {
    font-size: 16px;
    font-weight: 400;
    color: #42464e;
    margin-bottom: 0;
    text-align: justify;
    text-align-last: center;
    margin: 0;
}


/*  */


/* END ABOUT PAGE */


/* START APP PAGE */

.app__page .banner {
    background: url(../images/app-banner.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.app__page .banner h1 {
    color: var(--color-title);
}

.app__page .reason .bg__reason {
    background-color: #EFFDF8;
}

.app__page .reason ul li p {
    line-height: 1.6;
}

.app__page .qr {
    position: relative;
    overflow: hidden;
    margin-bottom: 150px;
}

.app__page .qr::before {
    position: absolute;
    content: "";
    width: 200%;
    height: 60%;
    background-color: #f1faff;
    left: 50%;
    transform: translate(-50%);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.app__page .qr .wrap-app {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(9 123 150 / 20%);
}


/* END APP PAGE */


/* START CONTACTS PAGE */

.contact__banner {
    background-image: url(../images/contact-banner.png);
    padding: 80px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contact .single-contact-block p {
    font-size: 15px;
    color: #878787;
}

.contact .contact-form-content button.submit {
    padding: 0 80px;
}

.contact .contact-form-content input:focus,
.contact .contact-form-content textarea:focus {
    border-color: var(--color-primary);
    box-shadow: none;
}


/* END CONTACTS PAGE */


/* START CUSTOMER PAGE */

.customer .banner {
    background: url(../images/contact-banner.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.customer .banner .line {
    width: 80px;
    height: 1px;
    background: #ffffff;
}

.customer .banner a.btn-registration {
    color: var(--color-primary);
    background: #fff;
    font-weight: 400;
    font-size: 20px;
}

.customer .news-customer {
    background: linear-gradient(to bottom, #e5f7f3, #ffffff);
    padding: 100px 0 0px 0;
}

.customer .news-customer .item__news {
    box-shadow: 0 0 30px 0 rgb(9 123 150 / 20%);
    height: 100%;
}

.customer .news-customer .item__news .tag {
    border-radius: 15px;
    background-color: #30d797;
    transform: translateY(-50%);
    display: inline-block;
}

.customer .news-customer .item__news p {
    text-align: justify;
    margin-bottom: 0;
}

.customer .customersinfo247 {
    background: url(../images/contact-banner.png) scroll no-repeat center center;
    background-size: cover;
    color: #fff;
    background-size: cover;
    padding: 20px 0 0;
}

.customer .customersinfo247 p {
    font-size: 16px;
    color: #e9e9e9;
}

.customer .customersinfo247 .item p {
    display: block;
    font-size: 18px;
    color: #e9e9e9;
}

.customer .customersinfo247 .item strong {
    display: block;
    font-size: 36px;
}


/* END CUSTOMER PAGE */


/* START IMPLEMENTS */

.customer__detail .banner {
    background-image: url(../images/implement-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 80px;
}

.customer__detail .banner a.btn-registration {
    color: #fff;
    background: linear-gradient( to right, #1cc294, #57d7a0);
    height: 55px;
    line-height: 55px;
}

.customer__detail .banner a.tag {
    transform: translateY(-50%);
    display: inline-block;
    background: var(--bg-gradient-primary);
    border-radius: 20px;
}

.customer__detail .content .tag {
    background-color: #e9e9e9;
    border-radius: 20px;
}

.customer__detail .news-customer {
    background: none;
    padding: 0;
}


/* END IMPLEMENTS */


/* START LIST PRODUCT */

.list__product .banner {
    background-image: url(../images/product/banner4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 0;
}

.list__product .banner .line {
    width: 50px;
    height: 1px;
    background: var(--color-primary);
    margin: 0;
}

.list__product .manage .info ul li img {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.list__product .manage .info ul li p {
    font-weight: 700;
    font-size: 18px;
}

.list__product .manage .info ul li p span {
    font-weight: 300;
    font-size: 14px;
}

.list__product .faq .about__title a.btn-registration {
    transform: translateY(-50%);
}

.list__product .faq .question {
    min-height: 54px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 10.595px 5.634px 31.85px 3.15px rgba(34, 46, 117, .08);
    padding: 15px 20px;
    border: none;
    margin-bottom: 7px;
    position: relative;
    z-index: 2;
}

.list__product .faq .question .icon {
    position: absolute;
    right: 30px;
    top: 16px;
    color: #afafaf;
    z-index: -1;
}

.list__product .faq .question .icon i::before {
    content: "\f067";
    font-family: FontAwesome;
    transition: .2s ease;
}

.list__product .faq .question.active .icon i::before {
    content: "\f068";
    font-family: FontAwesome;
    transition: .2s ease;
}

.list__product .faq .question.active h4 {
    color: #1DC294;
}

.list__product .faq .question.active p {
    display: block;
}

.list__product .faq .question h4 {
    color: #42464e;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0;
    position: relative;
    letter-spacing: -.5px;
    cursor: pointer;
    padding-right: 35px;
}

.list__product .faq .question h4:before {
    content: attr(data-number);
    margin-right: 5px;
}

.list__product .faq .question p {
    font-size: 16px;
    color: #7d8492;
    line-height: 24px;
    margin: 20px 0 5px;
    display: none;
    text-align: justify;
}

.list__product .partner {
    background: url(../images/product/background.png) no-repeat top left;
    background-size: cover;
    background-position: center;
    padding-top: 250px;
}

.list__product .partner .shipping__logo .shipping__item img {
    border-radius: 10px;
    opacity: .6;
    width: 100%;
    box-shadow: 0 17px 40px 0 rgb(13 85 148 / 4%);
}

.list__product .partner .shipping__logo .shipping__item img:hover {
    opacity: 1;
}

.list__product .partner .tab-content {
    background-color: #fff;
    box-shadow: 0 17px 40px 0 rgb(13 85 148 / 8%);
    position: relative;
    border-top: 3px solid #37d5ad;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.list__product .partner .tab-content .block-content h3 {
    color: #2cd2a8;
    font-size: 20px;
    font-weight: 500;
}

.list__product .partner .tab-content .block-content p {
    font-style: italic;
    font-size: 18px;
    color: #2cd2a8;
}

.partner .tab-content ul li {
    font-size: 16px;
    line-height: 26px;
    color: #545a68;
    position: relative;
    text-align: justify;
    list-style: none;
    display: flex;
}

.partner .tab-content ul li i {
    color: #2cd2a8;
    font-size: 10px;
    margin-right: 10px;
    transform: translateY(5px);
}

.partner .video .icon {
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    color: #056fe3;
    font-size: 30px;
    background-color: #fff;
    box-shadow: 0 17px 40px 0 rgb(13 85 148 / 4%);
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.partner .video .icon i {
    padding-left: 5px;
}

.animation-down img {
    animation: bounce12 2s ease infinite;
    background: red;
}


/* END LIST PRODUCT */


/* START PRODUCTS */

.product .banner {
    background-image: url(../images/product-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.product .reason .block-item {
    text-align: center;
    margin-bottom: 35px;
}

.product .reason .block-item img {
    height: 75px;
    max-width: 100%;
    max-height: 100%;
}

.product .reason .block-item p {
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    text-align-last: center;
}

.product .reason .block-item.two .line {
    background: #92d2d5;
    width: 50px;
    height: 2px;
    margin: auto;
}

.product .reason .block-item.one .line {
    background: #f7d1c0;
    width: 50px;
    height: 2px;
    margin: auto;
}

.product .reason .block-item.three .line {
    background: #1763d5;
    width: 50px;
    height: 2px;
    margin: auto;
}

.product .reason .block-item.four .line {
    background: #fdd45c;
    width: 50px;
    height: 2px;
    margin: auto;
}

.product .down__app i {
    animation: bounce12 2s ease infinite;
}

.product .faq {
    background: url(../images/product/background.jpg) no-repeat top center;
}

.product .faq .in-faq {
    background: #fff;
    box-shadow: 0 0 50px 0 rgb(10 136 88 / 16%);
    border-radius: 10px;
}

.product .faq .faq__content {
    font-size: 14px;
    font-weight: 400;
}

.product .faq .faq__content .faq__opacity {
    opacity: .5;
}

.product .faq .faq__content .content-hide.hide {
    display: none;
}

.product .faq button.view-more {
    border: 1px solid #6ecd9c;
    border-radius: 30px;
    color: #6ecd9c;
    font-size: 25px;
}

.product .faq button.view-more:hover {
    border-color: 1px solid #6ecd9c;
    color: #6ecd9c;
}


/* END PRODUCTS */


/* START PRICE */

.price .banner {
    background-image: url(../images/aboutus/price-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.price .banner .corner-banner {
    max-width: 100px;
    border: none;
    position: absolute;
    top: -10px;
    right: -10px;
}

.price .banner .tab {
    background: white;
    position: relative;
    border-radius: 50px;
    z-index: 2;
    border-bottom: 3px solid #CBF3EB;
}

.price .banner .tab .nav-tabs li a {
    opacity: .5;
    transition: all .3s;
    color: #419fd6;
    border: none;
    border-bottom: 2px solid transparent;
}

.price .banner .tab .nav-tabs li a.active {
    opacity: 1;
    color: #419fd6;
    border-bottom: 2px solid #419fd6;
}

.price .banner .tab .tab-content {
    background: linear-gradient(45deg, rgba(255, 239, 215, 1) 10%, rgba(235, 245, 255, .5) 25%, rgba(255, 255, 255, 1) 100%);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.price .banner .tab .tab-content .tab-pane input {
    border-radius: 50px;
    font-size: 16px;
    opacity: 0.7;
    height: 45px;
    text-align: center;
}

.price .reason {
    padding-top: 150px;
}

.price .intro {
    background-image: url(../images/product/bg-intro.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    margin-top: -35px;
}

.price .faq {
    background: url(../images/product/background.jpg) no-repeat top center;
}


/* .price .faq .in-faq {
    background: #fff;
    box-shadow: 0 0 50px 0 rgb(10 136 88 / 16%);
    border-radius: 10px;
} */

.price .faq .block-faq .in-faq {
    padding: 40px 50px 40px;
    background: #fff;
    box-shadow: 0 0 50px 0 rgb(10 136 88 / 16%);
    border-radius: 10px;
}

.price .faq .block-faq .in-faq .item-line {
    position: relative;
}

.price .faq .block-faq .in-faq .item-line h4 {
    text-align: left;
    margin-bottom: 20px;
    position: relative;
    border: solid 1px #c6ebde;
    background: #fff;
    border-radius: 10px;
    padding: 20px 0;
    padding-right: 40px;
    padding-left: 15px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

.price .faq .block-faq .in-faq .item-line.active h4 {
    font-weight: 700;
    border: none;
    margin-bottom: 0;
}

.price .faq .block-faq .in-faq .item-line .icon {
    cursor: pointer;
}

.price .faq .block-faq .in-faq .item-line .icon:after {
    content: "";
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    background: url(../images/product/plus.png) center no-repeat;
    position: absolute;
    right: 12px;
    top: 15px;
}

.price .faq .block-faq .in-faq .item-line .icon:after {
    content: "";
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 35px;
    background: url(../images/product/plus.png) center no-repeat;
    position: absolute;
    right: 10px;
    top: 12px;
}

.price .faq .block-faq .in-faq .item-line.active .icon:before {
    content: "";
    width: 30px;
    height: 30px;
    background: #29d090;
    z-index: 0;
    position: absolute;
    right: 10px;
    top: 12px;
    border-radius: 30px;
}

.price .faq .block-faq .in-faq .item-line.active .icon:after {
    background: url(../images/product/minus.png) center no-repeat;
    z-index: 1;
}

.price .faq .block-faq .in-faq .item-line p {
    font-size: 16px;
    color: #42464e;
    line-height: 26px;
    font-weight: 400;
    display: none;
    padding-left: 15px;
    margin-bottom: 0;
}

.price .faq .block-faq .in-faq .item-line.active p {
    display: block;
    margin-bottom: 20px;
}


/* END PRICE */


/* START secure */

.secure .banner {
    background-image: url(../images/aboutus/banner4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}

.secure .content p {
    font-size: 14px;
}

.secure .content p.color-text {
    color: #9c9c9c;
}

.secure .content .line {
    width: 100px;
    height: 4px;
    background-color: var(--color-primary);
}


/* END secure */

@keyframes bounce12 {
    0%,
    10%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0) translateX(-50%);
        -ms-transform: translateY(0) translateX(-50%);
        transform: translateY(0) translateX(-50%);
    }
    40%,
    60% {
        -webkit-transform: translateY(-15px) translateX(-50%);
        -ms-transform: translateY(-15px) translateX(-50%);
        transform: translateY(-15px) translateX(-50%);
    }
}